
.container{
    background-color: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background: #FFD5D5;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    align-items: center;  
    flex-direction: column;
    & h1{
        margin-top: 20px;
    }
}
.diceblock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: grey; */
    & img{
        width: 200px;
        height: 200px;
    }
    & span{
        font-size: 30px;
        font-weight: 600;
        font-style: italic;
    }
    & button{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 600;
        color: #fefefe;
        background-color: #bb4848;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}